@tailwind base;
@tailwind components;
@tailwind utilities;

/* Handjet is loaded via next/font in layout.js */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --cgray: #9F9AA4;
  --corange: #E7CFCD;
  --cplatinum: #CFD8D7;
  --cgreen: #B5C9C3;
  --cpink: #CAB1BD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-handjet), Arial, Helvetica, sans-serif;
}
